@font-face {
    font-family: PatuaOne;
    src: url("fonts/PatuaOne-Regular.ttf") format("truetype");
}

body {
    margin : 0;
    padding : 0;
}



nav {
    display: flex;
    overflow: hidden;
}

nav div {
    padding: 10px 10px;
    text-align: right;
    color: #052333;
    font-family: verdana;
    background-color: white;
    cursor: pointer;
    transition : all 0.4s ease-out;
}

nav div a{
    padding: 10px 10px;
    text-align: right;
    color: #052333;
    font-family: verdana;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    transition : all 0.4s ease-out;
}

nav div a:visited{
    background-color: white;
    text-decoration: none;
}

nav div:hover {
    background-color: white;
    color: #8495A0;
}

.mainnav {
    padding-top: 25px;
    float: right;
}

.subnav {
    background-color: #4A2C56;
    font-size: 1.5em;
    text-align: center;
}

.subnav div {
    color: white;
    background-color: #4A2C56;
}

.subnav div a{
    color: white;
    background-color: #4A2C56;
}

.subnav div:hover {
    color: white;
    background-color: #593567;
}

.subnav div a:hover {
    color: white;
    background-color: #593567;
}

.subnav div a:visited{
    background-color: #4A2C56;
    text-decoration: none;
}

.subnav div a:visited:hover{
    background-color: #593567;
    text-decoration: none;
}




main {
    max-width: 1200px;
    margin : 0 auto;
}

h1 {
    text-align: center;
    color: #052333;
    font-size: 40px;
    font-family: Verdana;
}

h2 {
    text-align: center;
    color: #052333;
    font-size: 20px;
    font-family: verdana;
}

h3 {
    color: #052333;
    font-size: 15px;
    font-family: verdana;
}

h4 {
    color: #052333;
    font-size: 20px;
    font-family: verdana;
}

p {
    color: #052333;
    font-family: verdana;
}

a {
    color: #052333;
    font-family: verdana;
    text-decoration: none;
    transition : all 0.4s ease-out;
}

a:hover {
    color: #8495A0;
    font-family: verdana;
    text-decoration: none;
}



label {
    color: #052333;
    font-family: verdana;
    font-size: 12px;
}



li {
    color: #052333;
    font-size: 15px;
    font-family: verdana;
}

.info {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    font-family: verdana;
}

.detail {
    color: white;
    background-color: #4A2C56;
    font-family: verdana;
    text-decoration: none;
}

.detail:hover {
    color: white;
    background-color: #593567;
    font-family: verdana;
    text-decoration: none;
    transition : all 0.4s ease-out;
}

.order {
    color: white;
    background-color: #4A2C56;
    font-family: verdana;
    text-decoration: none;
}

.order:hover {
    color: white;
    background-color: #593567;
    font-family: verdana;
    text-decoration: none;
    transition : all 0.4s ease-out;
}

.orderDetails {
    color: white;
    background-color: #4A2C56;
    font-family: verdana;
    text-decoration: none;
}

.orderDetails:hover {
    color: white;
    background-color: #593567;
    font-family: verdana;
    transition : all 0.4s ease-out;
}

.orderCartAlign {
    text-align: center;
}

.orderCartAlign input {
    width: 40px;
    height: 40px;
    font-size: 15px;
}

.orderCart {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #4A2C56;
    font-family: verdana;
    text-decoration: none;
}

.orderCart:hover {
    color: white;
    background-color: #593567;
    transition : all 0.4s ease-out;
}

.button {
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #4A2C56;
    font-family: verdana;
    text-decoration: none;
    border: none;
}

.button:hover {
    color: white;
    background-color: #593567;
    transition : all 0.4s ease-out;
}




.transbox {
    margin: 30px;
    background-color: #4A2C56;
    opacity: 0.6;
}

.transbox h1{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: verdana;
}

.transbox h2{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: verdana;
}



label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}



.errors {
    color: red;
}



input {
    width: 250px;
}

input[type=submit] {
    width: auto;
    padding: 10px;
    color: white;
    font-family: Verdana;
    font-size: 15px;
    background-color: #4A2C56;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4A2C56;
    background-color: #593567;
    transition : all 0.4s ease-out;
}

label {
    width: auto;
    color: #052333;
    font-family: Verdana;
    font-size: 15px;
    padding: 10px;
}

table {
    width: 100%;
}


th {
    color: white;
    font-family: Verdana;
    background-color: #4A2C56;
}

td {
    padding: 0 10px;
    font-family: Verdana;
}

td.image img {
    width: 50px;
    height: 50px;
}

tfoot td {
    text-align: center;
    font-weight: bold;
}

tr.odd {
    background-color: lightgrey;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}



table.shoppingList {
    font-family: Verdana;
    border-collapse: collapse;
    width: 95%;
}

thead.shoppingList th{
    color: white;
    font-family: Verdana;
    font-size: 18px;
    background-color: #4A2C56;
    border-collapse: collapse;
}

tbody.shoppingList td{
    background-color: white;
    font-family: Verdana;
    font-size: 15px;
    text-align: center;
    border: none;
}

td.imageShopping img{
    height: 100px;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td.trashCan img {
    height: 30px;
}

td.inputQuantity input {
    font-size: 15px;
    text-align: center;
    width: 35px;
}



#displayProducts {
    display: grid;
    grid-template-columns: 15% 85%;
}

.options {
    grid-column-start: 1;
}

.products {
    grid-column-start: 2;
}


#displayDetails {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}


#container {
    width: 880px;
    margin: 0 auto;
}



#displayLogin {
    display: grid;
    grid-template-columns: 50% 50%;
}

.login {
    grid-column-start: 1;
}

.new-account {
    grid-column-start: 2;
}


#list h1 {
    text-align: center;
}

#list .products {
    width: 840px;
    margin: 20px auto 0;
}

#list .product {
    width: 180px;
    height: 310px;
    margin: 10px;
    float: left;
}

#list .photo img {
    width: 180px;
    height: 180px;
}

#list .links a {
    display: inline-block;
    width: 100%;
    clear: both;
    text-align: center;
}

#displayDetails .detailPhoto img {
    width: 550px;
    height: 550px;
}



#displayShoppingCart {
    display: grid;
    grid-template-columns: 75% 25%;
}

.shoppingList {
    grid-column-start: 1;
}

.orderList {
    grid-column-start: 2;
}



#displayOrderDetails {
    display: grid;
    grid-template-columns: 60% 40%;
}

.orderProducts {
    grid-column-start: 1;
}

.orderInformation {
    grid-column-start: 2;
    padding-left: 20px;
}



footer {
    margin : 0 auto;
    background-color: #4A2C56;
}

.advantages {
    background-color: #F1F6FA;
    margin: 0 auto;
}

.advantagesContainer {
    display: grid;
    width: 1200px;
    margin : 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.shipping {
    grid-column-start: 1;
    padding: 10px;
}

.retour {
    grid-column-start: 2;
    padding: 10px;
}

.ownStock {
    grid-column-start: 3;
    padding: 10px;
}

.payment {
    grid-column-start: 4;
    padding: 10px;
}



.footer {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4A2C56;
}

.schedule {
    grid-column-start: 1;
    color: white;
    text-align: left;
}

.contact {
    grid-column-start: 2;
    color: white;
    text-align: left;
}

.newsletter {
    grid-column-start: 3;
    color: white;
    text-align: left;
}


.copyright {
    color: white;
    text-align: center;
    background-color: #4A2C56;
}



#newAccount {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data {
    grid-column-start: 1;
}

.signData {
    grid-column-start: 2;
}